---
import { Image } from "astro:assets"
import siteInfo from "~/data/site-info";

import ScrollDown from "~/components/common/ScrollDown.astro";

import logo from "../../assets/350x100.svg"

const {background, subtitle, title, tagline, alt=siteInfo.name, scroll, image, ...scrollDown } = Astro.props

import heroImage from "~/assets/cat.avif"
import type { ActionError } from "astro:actions";
---
<section class:list={["hero relative z-10 w-full flex gap-8 items-stretch sm:justify-center justify-end  px-4 sm:px-8 text-balance pb-4 sm:pb-8 pt-32", {"h-[85svh] max-h-full": scroll}, image ? "flex-row" : "", background ==="gradient" ? "gradient" : background]}>
    <div class:list={["sm:relative absolute inset-x-0 p-8 sm:p-0 sm:inset-y-0 inset-y-8 z-10 w-full flex flex-col max-w-screen-md justify-center p-4 sm:p-8 text-balance flex-auto", image ? "text-left" : "items-center text-center"]}>
        <Image src={logo} alt={alt} format="avif" />
        <div
        aria-roledescription="subtitle"
        class="mb-6 font-subtitle text-4xl font-black uppercase "
        >
            {subtitle}
        </div>
        <h1
            class="my-2 font-serif-heading text-4xl font-semibold text-[--on-surface] lg:text-6xl"
        >
            {title}
        </h1>
        <p class="font-base mb-4 text-xl text-[--on-surface]">
            {tagline}
        </p>
        <slot />
        { scroll &&
            <ScrollDown large {...scrollDown} />
        }
    </div>
    <!-- <Image src={heroImage} alt="" class="hidden sm:block w-1/4 md:w-1/3 bg-orange-200 object-cover object-center" /> -->
    <!-- <Image src={heroImage} alt="" class="relative p-4 mix-blend- w-1/3 object-cover object-center" /> -->
    <div class=" border border-green-100 grid grid-cols-3 justify-items-stretch place-items-stretch w-1/2 ">
        <Image src={heroImage} alt="" class="relative  object-cover object-center" />
        <Image src={heroImage} alt="" class="relative mix-blend-screen object-cover object-center" />
        <Image src={heroImage} alt="" class="relative  mix-blend-lighten  object-cover object-center" />
        <Image src={heroImage} alt="" class="relative  mix-blend-color-dodge object-cover object-center" />
        <Image src={heroImage} alt="" class="relative  mix-blend-exclusion object-cover object-center" />
        <Image src={heroImage} alt="" class="relative mix-blend-plus-lighter  object-cover object-center" />
    </div>

    <!-- <div class="hidden sm:block w-1/4 md:w-1/3 bg-orange-400 border border-green-400 absolute inset-y-0 left-0">
        <Image src={heroImage} alt="" />
    </div> -->
    <!-- {image && 
    // hide image or set as background?
    
    <div class="hidden sm:block w-1/4 md:w-1/3 bg-orange-200">
        <Image src={heroImage} alt="" />
    </div>
    
    } -->
    
</section>